textarea{  
  display: block;
  box-sizing: padding-box;
  overflow: hidden;

  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;
}